@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello there!</h1>

<p>This web app demonstrated how a web app can handle multiple data sources that contains related tables.</p>
<p>In this web app, there are three separate databases used.</p>
<ul>
    <li>User Database, which contains User table. A user can have multiple transactions.</li>
    <li>Product Database, which contains Product and Category tables. There can be multiple products with the same category.</li>
    <li>Transaction Database, which contains Transaction table. Each transaction needs to have one user and one product. 
        Deleting a user or a product will delete all the associated transactions.</li>
</ul>
<p>In the navigation bar, you can see each table in action. Feel free to manipulate the data as you wish. 
    Be careful though, I haven't implement any validation so you might end up inserting incorrect data. :).</p>
<p>If you'd like to know more, visit the Source link above. You can view the source code and the explanation on how it works under the hood in the GitHub repository.
    Please do not hesitate to contact me should you have any question.</p>
<br/>
<p>Regards,</p>
<br/>
<br/>
<p>Aziz Rahmad</p>